*{
    margin: 0;
    padding: 0;
}


body{
    background-color:#F3F5FC;
}


header{
    width: 100%;
    height: 50px;
    margin-top: 8px;
    margin-left: 30px;
    
}

main{
    width: 100%;
    height: 90%;
        display: flex;
    justify-content: space-between;
}

section{
    width: 40%;
    height: 100%;
    
} 

.seccionIzq{
    width: 65%;
    
}

.area{
    width: 700px;
    height: 450px;
    margin-top: 80px;
    margin-left: 210px;
    display: flex;
    flex-direction: row;
    resize: none;
    border-radius: 12px;
    background-color:#F3F5FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #0A3871;
    border: none;
    box-shadow: none;
    outline: none;
    

}

.exclamacion{
    width: 100%;
    height: 20px;
    margin-top: -90px;
    margin-left: 80px;
    box-sizing: border-box;
}

.textoExclamacion{
    width: 236px;
    height: 19.5px;
    margin-top: -21px;
    margin-left: 100px;
    /* background-color: black; */
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}

.botonesIzquierdos{
    width: 700px;
    height: 70px;
    text-align: center;
    margin-top: 60px;
    margin-left: 80px;
    box-sizing: border-box;
    
}


.btn-encriptar{
    width: 184px;
    height: 40px;
    margin-top: 13px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871 ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }


.btn-desencriptar{
    width: 184px;
    height: 40px;
    margin-top: 13px;
    margin-left: 30px;
    background: #F3F5FC;
    border-radius: 24px;
    border: 1px solid #0A3871 ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

}

.seccionDer{
    width: 25%;
    margin-right: 18px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    overflow: hidden;

}


.muneco{
    
    width: 360px;
    height: 304px;
    left: 1032px;
    top: 283px;
    margin-top: 150px;
    box-sizing: border-box;
    overflow: hidden;
}

.texto1{
    width: 100%;
    height: 10%;
    padding-top: 30px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

.texto2{
    width: 100%;
    height: 20%;
    padding-top: 0px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    flex: none;
    align-self: stretch;
}

.resultado{
    width: 100%;
    height: 70%;
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    ;
}

.textresultado{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

.botonDerecho{
    width: 336px;
    height: 70px;
    left: 1032px;
    top: 885px;
    margin-top: 62px;
    margin-left: 95px;
    display: flex;
    flex-direction: row;
}

.btn-copiar{
    width: 184px;
    height: 40px;
    margin-top: 13px;
    border-radius: 24px ;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    background-color: white;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    }


footer{
    width: 100%;
    height: 4px;
    text-align: center;
    font-style: normal;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    }

.ocultar{
    display: none;


    }